body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#container {
    text-align: center;
}

#qr-code-img {
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#scan-message {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}
